<a href="https://colab.research.google.com/github/atm1504/PythonCrashCourse/blob/main/Python_Crash_Course_Session_1_%7C_6th_June%2C_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Session

### Date: 6th June, 2021

### Topics to be covered:
* Basic Input and Output
* Data Types
* List
* Tuple
* Dictionary
* Set
* string
* for loop
* if-else

## On Next Class
* while loop
* Using lambda for input
* Sort
* Collection module -> Counter, defaultdict
* Heapq
* Class and objects
* Inheritance

In [ ]:
x=5
y=3

z=x+y

print(z) ## Output statement
# int x=5

8

In [ ]:
x=int(input()) ## takes input in python as integer
y=int(input())

print(type(x)) ## type(x) returns the data type of x
 
z=x+y
print(z)

5
3
<class 'int'>
8

In [ ]:
x,y,z=0,3,4

a=b=c=0

## Data Types
* Int -> int(input()
* string. -> input()
* float -> float(input())

In [ ]:
x=int(input())
y=input()
z=float(input())

5
atm
5.5

In [ ]:
print(x,y,z)

5 atm 5.5

In [ ]:
print(type(x), type(y), type(z))

<class 'int'> <class 'str'> <class 'float'>

In [ ]:
## Mathematical
## +-*

## divison
x =5/2 # Float division 2.5
y=5//2 # It rounds up to the neareest minimum integer
print(x,y)

## Modulo operator

z=5%2 ## Returns remainder
print(z)

2.5 2
1

## Data Structures

* List -> array (mutable), vextors is a better solution of array in c++
* Tuple ->is similar as array but with certain restricitonion (immutable)
* Dictionary -> map
* set -> is same as set in c++, only thing is it is unordered
* string -> similar to list, but is immutable

In [ ]:
## List
li1=[]
li2=list()
li3 = [None]*10 ## List of length 10 all initialized with 0
li4 = [1,2,3,4] ## contains integers
li5 = ["abc", 2,4,"def"] ## it contains mix of data types

print(li1)
print(li3)
print(li4)
print(li5)

[]
[None, None, None, None, None, None, None, None, None, None]
[1, 2, 3, 4]
['abc', 2, 4, 'def']

In [ ]:
li4[2]=56
print(li4)

[1, 2, 56, 4]

In [ ]:
li4.append(7)
print(li4)

[1, 2, 56, 4, 7]

In [ ]:
print(li4[2]) # value at 2nd position

56

In [ ]:
## Lngth of the list
print(len(li4))

5

In [ ]:
li1 = [8,9,10]
## Merge li1 at the end of li4 -> [1,2,56,4,7,8,9,10]

li4.extend(li1)
print(li4)

[1, 2, 56, 4, 7, 8, 9, 10]

In [ ]:
## Pop
print(li4.pop())

10

In [ ]:
print(li4)

[1, 2, 56, 4, 7, 8, 9]

In [ ]:
## Remove elemtn at a particular index
li4.pop(3)
print(li4)

[1, 2, 56, 7, 8, 9]

In [ ]:
## Insert somme vallue at the 3rd index
li4.insert(3,"abc")
print(li4)

[1, 2, 56, 'abc', 7, 8, 9]

In [ ]:
## Slicing
## I want all the elements from index. 2 to 5
print(li4[2:5])
## I wan all the elemnts from index 2 to the end
print(li4[2:])

## I want all the elemtns from the first till index 3
print(li4[:3])

[56, 'abc', 7]
[56, 'abc', 7, 8, 9]
[1, 2, 56]

In [ ]:
## I want all the element sfrom index 2, at an interval of 2, till the end
print(li4[2::2])

[56, 7, 9]

In [ ]:
t1=()
t2=tuple()
print(type(t1))

t3=(1,2,3)
print(type(t3))

<class 'tuple'>
<class 'tuple'>

In [ ]:
## Lets try to change the value of tuple at index 1
t3[1]=4
print(t3)

TypeError: ignored

In [ ]:
s=str()
s1=""
s2="wertyuiop"
s3="qwasasa"
## Everything samme as list, only thing is its immutable, like tuple
s4=s2+s3
print(s4)

## SImialr indexing method as of list
## SImilar slicing also

wertyuiopqwasasa

In [ ]:
print(s4[4:]) ## ALl characters from index 4

yuiopqwasasa

In [ ]:
print(s4[4::3]) ## Alll elements after index 4 with 3 intervals

yowa

In [ ]:
## we can print the elements of a list by differet ways using loops lets ee some of them
print(li4) 
li=li4 ## Shallow copy
print(li)

li[1]="atm"
print("-----------------")
print(li)
print(li4)

[1, 2, 56, 'abc', 7, 8, 9]
[1, 2, 56, 'abc', 7, 8, 9]
-----------------
[1, 'atm', 56, 'abc', 7, 8, 9]
[1, 'atm', 56, 'abc', 7, 8, 9]

In [ ]:
## Deep copy
li=li4[::]

In [ ]:
print(li)
print(li4)

li4[1]="ana"
print("----------------")
print(li)
print(li4)

[1, 'atm', 56, 'abc', 7, 8, 9]
[1, 'atm', 56, 'abc', 7, 8, 9]
----------------
[1, 'atm', 56, 'abc', 7, 8, 9]
[1, 'ana', 56, 'abc', 7, 8, 9]

In [ ]:
## print all elements of a list without brackets and ,
print(*li)

1 atm 56 abc 7 8 9

In [ ]:
## Simialr thing can be used in string and tuple
for i in range(0,len(li)):
  print(li[i], end= " ")

## int =0
## for (i=0; i<n; i++){
    ## cout << li[i]
## }

## for i+=2
print()
for i in range(0,len(li),2):
  print(li[i], end= " ")

print()
for i in range(0,len(li)):
  print(li[i])

## Simialr thing can be used in string and tuple

1 atm 56 abc 7 8 9
1 56 7 9
1
atm
56
abc
7
8
9

In [ ]:
## Printing the elemtns of list using the values
for x in li:
  print(x)

## Similar thing can be used in string and tuple

1
atm
56
abc
7
8
9

In [ ]:
## 2d List or 2d array
li1=[0]*10
li1 = [0 for i in range(10)]
## Similar thing can be used in string and tuple
## Both the above statements are same. YTjey defines a list of length 10 with all values as 0
# matrix with 3 rows and 5 columns, and all initialized with 0
## Matrix is a  2d array
li=[[0 for j in range(5)] for i in range(3)] ## nothing called 2d tuple or 2d string
print(li)
for x in li:
  print(x)

for x in li:
  print(*x)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0

In [ ]:
s=set()
s.add(1)
s.add(2)
## Set is a collection of unique elements
print(s)

s.add(3)
s.add(2)
print(s)

{1, 2}
{1, 2, 3}

In [ ]:
## COnvert a liost to a set
li=[1,2,3,4,5,2,3,4,7,8,9]
s=set(li)
print(li)
print(s)

[1, 2, 3, 4, 5, 2, 3, 4, 7, 8, 9]
{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
## rremove an element from a set
s.remove(2)
print(s)

{1, 3, 4, 5, 7, 8, 9}

In [ ]:
if 7 in s:
  print("Yes Present")
else:
  print("No")

## Same things as above in single line
print("Yes Absent" if 7 not in s else "Its present")

Yes Present
Its present

In [ ]:
a=2
if a==3:
  print("A is 3")
elif a==2:
  print("A is 2")
else:
  print("A's vlaue not matched")

A is 2

## Dictionary

Same as hash map in c++
Key:Value

There is a unique key and corresponding to that key we store a value.
All keys in a dictionary must be unique.
Key can be any imutable data type
Key can be a tuple, a string, an integer etc. But it cannot be a list or another dictiionary

In [ ]:
d=dict()
d["key1"] = "Valu1"
d[1]=2

print(d)

{'key1': 'Valu1', 1: 2}

In [ ]:
print(d[1])

2

In [ ]:
## Print only the values of a dictionary
print(list(d.values()))

for x in d:
  print(d[x])

['Valu1', 2]
Valu1
2

In [ ]:
## Print the keys of a dictionary
for x in d:
  print(x)

print(list(d.keys()))

key1
1
['key1', 1]

In [ ]:
## Check if a key is present in the dicitonar or not
if 7 in d:
  print("Yes Present")
else:
  print("No")
## same thing for string, list, tuple, set
## Same things as above in single line
print("Yes Absent" if 7 not in d else "Its present")

No
Yes Absent

In [ ]:
x=d[7]
print(7)

KeyError: ignored

In [ ]:
## If a key is not present int he dicitonary set its default value to that key as False

x=d.get(7, False)
print(x)

x=d.get(1, False) ## is already present in the dictionary
print(x)

False
2

In [ ]:
## for getting access to both the keys and values of a dictionary at the same time

for k,v in d.items():
  print(k,v)

key1 Valu1
1 2

In [ ]:
# for a 2*n list, if we want to print all th 2 values together the sybntax is
li = [[2,3],[4,5], [5,6], ["a","b"], ["c","d"]] ## a 2 d list with 2 columns andf 5 rows

for x,y in li:
  print(x,y)

2 3
4 5
5 6
a b
c d

In [ ]:
## Decomposition of list
# same for tuple
li=[4,5,6,7]
a,b,c,d =li
print(a)
print(b)
print(c)
print(d)

4
5
6
7

In [1]:
## Zip in python
## SUppose we have 2 lists of same length
li1=[1,2,3,4,5,6]
li2=[10,11,12,13,14,15]

## Suppose we need to iterate this two list simultanelously and operate some operation at the same index values in boht the list
## Like suppose I need to find li1[i]*li2[i], so in python we have a shortcut
for x,y in zip(li1,li2):
  print(x*y) 
## Here x=li1[i] and y=li2[i]
## so instead of indexing or using indexing method we have achieved the objective using zip fucntion

10
22
36
52
70
90